
.spasi{
    margin-bottom: 50px;
}


body{
    background-color: #F8FFD2 ;
}


*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h2{
    color:#DF826C;
}

h1{
    color:#DF826C
}

p{
    background-color: #FAEED1;
}



